*{
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
    color: black;
    text-align: center;
}

body{
    font-family: "맑은고딕", "고딕", "굴림";
}

@font-face{
    font-family: Spoqa Han Sans Regular;
    src:url('Spoqa Han Sans Regular.ttf');
    font-weight: normal;
}

@font-face{
    font-family: SeoulNamsanM;
    src:url('SeoulNamsanM.otf');
    font-weight: bold;
}

@font-face{
    font-family: SeoulNamsanEB;
    src:url('SeoulNamsanEB.otf');
    font-weight: bolder;
}

header{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 30px;
}

#copyright{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    text-align: center;
    color:  #4d6c48;
    line-height: 40px;
    font-size: 25px;
}

#main{
    width: 50%;
    margin-bottom: 50px;
}

table{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    margin-bottom: 0px;
    width: 40%;
    font-family: SeoulNamsanM;
}

td{
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    line-height: 50px;
    color: #4d6c48;
}


.story{
    font-size: 28px;
    font-weight: bold;
    padding: 0px;
    padding-top: 8px;
    text-align: left;
    line-height: 40px;
    font-family: Spoqa Han Sans Regular;
    color: #2a3e27;
}